.signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    height: 100vh
}

.form {
    color: white;
    background-color: rgba(1, 1, 1, .8);
    height: 400px;
    min-width: 300px;
    padding: 20px 50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: .2em;
}

.form-header {
    font-size: 2.3em;
    font-weight: 700;
}

.form .form-text {
    color: white;
    margin: 0;
    outline: none;
    border: none;
    background: rgba(220, 220, 220, .3);
    border-radius: .2em;
    font-size: 1em;
    padding: 12px 12px;
}

::placeholder { 
  color: rgba(255, 255, 255, .4);
  font-weight: 100;
  font-size: .8em;
  opacity: 1; 
}

.error-message{
    margin: 0;
    padding: 0;
    position: relative;
    left: 160px;
    font-size: .9rem;
    color: rgb(216, 8, 8);
    font-weight: 100;
    font-family:initial
}

.form .form-btn {
    outline: none;
    border: none;
    font-size: 1.3em;
    padding: .5em 0;
    background: rgb(209, 5, 5);
    border-radius: .2em;
    color: white;
}

.form-btn:hover {
    cursor: pointer;
    background: rgb(233, 7, 7);
    
}

.sign-up-anchor {
    color:rgba(220, 220, 220, .3);
}

.sign-up-anchor span{
    color:rgba(255, 255, 255, .7)
}

.sign-up-anchor span:hover{
    cursor: pointer;
    color:rgba(255, 255, 255, 1)
}